* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f4f9;
  color: #333;
}
h1.p {
  text-align: center;
  color: darkblue;
}
h1 span {
  font-size: 0.8em;
  color: darkgrey;
}
h2 {
  font-size: 1.2em;
  color: #007BFF;
  line-height: 1.8em;
}
h3 {
  font-size: 1.1em;
  color: #333;
  line-height: 1.5em;
}

details {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

details.prin {
  padding-left: 1em;
}

details[open] summary::before {
  color: #007BFF;
}

details summary::before {
  color: #007BFF;
}

summary h2 {
  display: inline-block;
}

details summary:hover {
  color: #0056b3;
}

/*
.prin summary {
  font-weight: 600;
  font-size: 1.1em;
  background-color: white;
  cursor: pointer;
}

summary h2 {
  display: inline-block;
}

summary {
  font-weight: 600;
  font-size: 1.1em;
  background-color: white;
}

summary a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

summary a:hover {
  text-decoration: overline;
  background-color: antiquewhite;
}
blockquote {
  font-size: 0.9 !important;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
*/

nav {
  margin: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #007BFF;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

nav ul ul {
  width: 200px;
}

nav ul ul li a {
  padding: 10px;
}

nav ul li:hover > ul {
  display: flex;
}

nav ul ul ul {
  left: 100%;
  top: 0;
}

ul {
  list-style: circle;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.tema {
  font-size: 0.8em;
  padding-left: 2em;
}
.tema img {
  padding-top: 5px;
}

sup {
  font-weight: bolder;
  font-size: 1.1;
  color: blue;
}
li {
  margin-bottom: 0.3em;
}
figure {
  color: darkblue;
  font-size: 0.85em;
  text-align: center;
}

.centro {
  text-align: center;
}
mark {
  background-color: #fff9c4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h1.p {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1em;
  }
}