@charset "utf-8";
@import "textos.css";

body{
    background-color:blueviolet;
}


table{
    border: 1px solid white;
    
}
th{
    border: 1px solid white;  
}

tr{
    border: 1px solid white; 
}

td{
    border: 1px solid white; 
}